# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next
/.next/
/out/

# env and local data
.env
.env*.local
/data/*.json
!/data/.gitkeep

# vercel
.vercel

# debug / os
npm-debug.log*
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo
